body {
  margin: 0;
  padding: 0; }

.entry {
  margin: 0;
  padding: 26px; }

h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
p:empty,
li:empty,
dt:empty,
dd:empty,
blockquote:empty,z
address:empty,
div[data-arx-type=text]:empty {
  position: relative;
  z-index: 1;
  min-height: 24px; }

strong:empty, b:empty, em:empty, i:empty, span:empty, sup:empty, sub:empty, u:empty, ins:empty, code:empty {
  display: inline-block;
  min-width: 1px;
  position: relative;
  min-height: 1em; }

code + code {
  margin-left: 2px; }

table {
  empty-cells: show; }

.arx-empty-layer {
  min-height: 38px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; }

.arx-empty-layer[data-arx-type=layer] {
  outline: 2px dashed rgba(0, 88, 251, 0.2); }

figure > img,
figure > iframe {
  vertical-align: middle; }

figcaption {
  display: block;
  top: 0; }
  figcaption:empty {
    min-height: 18px; }

[data-arx-type=embed] {
  position: relative; }
  [data-arx-type=embed]:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    z-index: 1; }
  [data-arx-type=embed] iframe {
    display: inline-block; }
  [data-arx-type=embed] figcaption {
    position: relative;
    top: 0;
    z-index: 2; }

[data-arx-type],
a {
  outline: none; }

[data-arx-type=column] {
  margin-top: 0;
  outline: 2px dashed rgba(0, 88, 251, 0.2); }

[data-arx-type].arx-block-focus {
  outline: 2px solid rgba(0, 88, 251, 0.4) !important; }
  [data-arx-type].arx-block-focus[contenteditable=true] {
    outline-offset: 2px; }

[data-arx-type].arx-block-multiple-hover {
  outline: 2px dashed rgba(255, 79, 127, 0.4) !important; }

[data-arx-type].arx-block-multiple-focus {
  outline: 2px solid rgba(255, 79, 127, 0.4) !important; }

.arx-draggable-placeholder {
  height: 20px;
  min-width: 80px;
  outline: 3px dashed gold;
  background-color: rgba(255, 215, 0, 0.2) !important;
  margin-bottom: 20px; }

.arx-draggable-over {
  outline: 3px dashed gold !important;
  background-color: rgba(255, 215, 0, 0.4) !important; }

.arx-drag-active {
  outline: 3px dashed gold !important;
  outline-offset: 0 !important;
  position: relative;
  max-height: 40px;
  overflow: hidden;
  padding: 0; }
  .arx-drag-active:before {
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: rgba(255, 215, 0, 0.4);
    position: absolute;
    z-index: 1; }

.arx-dragging {
  opacity: 0.95;
  background-color: #ffffff;
  box-shadow: 0 15px 30px 0 15px 30px rgba(0, 11, 29, 0.3); }
  .arx-dragging [data-re-type] {
    margin: 0; }

.arx-grid-overlay {
  position: relative; }

.arx-grid-overlay::before {
  position: absolute;
  top: 0;
  right: var(--arx-grid-offset-right);
  bottom: 0;
  left: var(--arx-grid-offset-left);
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - var(--arx-grid-offset-right) - var(--arx-grid-offset-left));
  max-width: none;
  content: '';
  background-image: repeating-linear-gradient(to right, rgba(0, 88, 251, 0.02), rgba(0, 88, 251, 0.02) calc((100% / var(--arx-grid-columns)) - var(--arx-grid-gutter)), transparent calc((100% / var(--arx-grid-columns)) - var(--arx-grid-gutter)), transparent calc(100% / var(--arx-grid-columns)));
  background-size: calc(100% + var(--arx-grid-gutter)) 100%;
  background-position: 0;
  z-index: 2;
  pointer-events: none; }

@media only screen and (max-width: 767px) {
  .arx-grid-overlay::before {
    display: none; } }

.arx-plus-button,
.arx-plus-button:empty {
  display: block;
  border: 2px solid rgba(0, 88, 251, 0.85);
  font-size: 12px;
  height: 28px;
  width: 28px;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  top: 0px;
  outline: none; }
  .arx-plus-button:after, .arx-plus-button:before,
  .arx-plus-button:empty:after,
  .arx-plus-button:empty:before {
    content: "";
    display: block;
    background-color: rgba(0, 88, 251, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .arx-plus-button:before,
  .arx-plus-button:empty:before {
    height: 1em;
    width: 2px; }
  .arx-plus-button:after,
  .arx-plus-button:empty:after {
    height: 2px;
    width: 1em; }
  .arx-plus-button:hover,
  .arx-plus-button:empty:hover {
    border-color: #0044C3; }
  .arx-plus-button:hover:after, .arx-plus-button:hover:before,
  .arx-plus-button:empty:hover:after,
  .arx-plus-button:empty:hover:before {
    background-color: #0044C3; }

.arx-variable {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: rgba(178, 204, 253, 0.4);
  display: inline-block;
  border-radius: 16px;
  font-size: 0.85em;
  color: #000B1D;
  cursor: pointer;
  line-height: 1;
  min-height: initial;
  padding: 4px 12px;
  white-space: nowrap;
  text-transform: none;
  font-weight: normal; }

.arx-variable:hover,
.arx-variable.arx-block-focus {
  background-color: #B2CCFD;
  outline: none !important; }

[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  display: inline-block;
  color: rgba(0, 11, 29, 0.4);
  font-weight: normal;
  font-style: italic;
  font-size: inherit;
  cursor: text;
  max-height: 20px; }

[data-placeholder]:empty:focus:before {
  content: ""; }

.arx-placeholder:before {
  position: absolute;
  z-index: 0;
  content: attr(placeholder);
  color: rgba(0, 11, 29, 0.4);
  font-weight: normal;
  cursor: text; }
